.report-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0 8px;
  margin-bottom: 16px;

  .filter-field {
    width: 180px;
  }

  button {
    height: 40px;
  }
}
